.tree {
    background-color: #efefef;
    height: 100%;
    padding: 10px;
    font-family: monospace;
    white-space: pre-wrap; 
}

.nodeInput {
    margin-left: 1rem;
}

.nodeName {
    display: inline-flex;
}